<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="background">
  <div class="container pt-9 pb-8">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <p class="lead offset-lg-2 col-lg-8 col-sm-12 " style="font-weight:400;color:#999">They can steal your password or your phone, but never your FACE.. <%#= t("landing.welcome").html_safe %></p>
        <p class="lead offset-lg-2 col-lg-8 col-sm-12 " style="font-weight:400;color:#999" >World's first conferenceing tool powered by Face ID<%#= t("landing.about", href: link_to(t("greenlight"), "https://bigbluebutton.org/2018/07/09/greenlight-2-0/", target: "_blank", rel: "noopener")).html_safe %></p>
        <p>
          <% if current_user %>
          <% else %>
            <%= link_to "Create new Meeting", signin_path, :class => "btn btn-outline-primary mx-2 sign-in-button" %>
            <!-- <a href="" class="btn btn-outline-primary">Create new Meeting</a> -->
          <% end %>
        </p>
        <p>
          <a href="" class="btn btn-outline-primary">Join Meeting</a>
        </p>
        <%#= link_to "https://youtu.be/Hso8yLzkqj8", target: "_blank" do %>
          <!--<h4><%#= t("landing.video") %> <i class="far fa-play-circle ml-1"></i></h4>-->
        <%# end %>
      </div>

    </div>
  </div>
</div>

<%#= render "main/components/features" %>